[submodule "client/bitpyminer"]
	path = client/bitpyminer
  url = https://github.com/Ilankay/python-bitcoin-solo-miner.git

[submodule "server/bitpyminer"]
	path = server/bitpyminer
	url = https://github.com/Ilankay/python-bitcoin-solo-miner.git
